<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add this element -->
  <configSections>
    <section name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="NHibernateSessionProvider" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
    <section name="DataCache" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <NHibernateSessionProvider defaultProvider="NHibernateThreadSlotProvider">
    <providers>
      <add name="NHibernateThreadSlotProvider" type="System.BusinessObjects.Data.NHibernateThreadSlotProvider, System.BusinessObjects.Framework" />
    </providers>
  </NHibernateSessionProvider>

  <DataCache defaultProvider="HashtableDataCache">
    <providers>
      <add name="HashtableDataCache" type="System.BusinessObjects.Data.HashtableDataCache, System.BusinessObjects.Framework"
           UseCache="true" DefaultCacheTimeout="120"/>
    </providers>
  </DataCache>

  <system.web>
    <!-- Test machine key -->
    <machineKey validationKey="52F2C400BFF4971558B24D6A8339480AE0D2A0D5D5F36B072C51F0270F3EF291BD188B27A17C483A654C0E27B62DC085DD7BCE6E12291F158800F366E8EFB644" decryptionKey="3798AE79CF7ECEAD26059EB7D704B946B839B9C0F9FC871B" validation="SHA1"/>

    <profile defaultProvider="NHibernateProvider" enabled="true">
      <providers>
        <add name="NHibernateProvider" type="System.BusinessObjects.Membership.ProfileProvider, System.BusinessObjects.Membership"
             applicationName="Blazing.Membership"/>
      </providers>
    </profile>
    
    <roleManager enabled="true" defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider" type="System.BusinessObjects.Membership.RoleProvider, System.BusinessObjects.Membership"
             applicationName="Blazing.Membership"/>
      </providers>
    </roleManager>
    
    <membership defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider"
             type="System.BusinessObjects.Membership.MembershipProvider, System.BusinessObjects.Membership"
             applicationName="Blazing.Membership"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
             passwordFormat="Encrypted"
             minRequiredPasswordLength="4"
             minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    
  </system.web>
</configuration>
