<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add this element -->
  <configSections>
    <section name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="NHibernateSessionProvider" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
    <section name="DataCache" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <NHibernateSessionProvider defaultProvider="NHibernateThreadSlotProvider">
    <providers>
      <add name="NHibernateThreadSlotProvider" type="System.BusinessObjects.Data.NHibernateThreadSlotProvider, System.BusinessObjects.Framework" />
    </providers>
  </NHibernateSessionProvider>

  <DataCache defaultProvider="HashtableDataCache">
    <providers>
      <add name="HashtableDataCache" type="System.BusinessObjects.Data.HashtableDataCache, System.BusinessObjects.Framework"
           UseCache="true" DefaultCacheTimeout="120"/>
    </providers>
  </DataCache>

  <system.web>

    <roleManager enabled="true" defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider" type="System.BusinessObjects.Membership.RoleProvider, System.BusinessObjects.Membership"
             applicationName="Blazing.Membership"/>
      </providers>
    </roleManager>
    <membership defaultProvider="NHibernateProvider">
      <providers>
        <clear/>
        <add name="NHibernateProvider"
             type="System.BusinessObjects.Membership.MembershipProvider, System.BusinessObjects.Membership"
             applicationName="Blazing.Membership"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             minRequiredPasswordLength="4"
             minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    
  </system.web>
</configuration>