<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="NHibernateSessionProvider" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="DataCache" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework" requirePermission="false" allowDefinition="MachineToApplication"/>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
  
    <appSettings/>
    <connectionStrings/>

	<NHibernateSessionProvider defaultProvider="NHibernateAspContextProvider">
		<providers>
			<add name="NHibernateAspContextProvider" type="System.BusinessObjects.Data.NHibernateAspContextProvider, System.BusinessObjects.Framework"/>
		</providers>
	</NHibernateSessionProvider>

	<DataCache defaultProvider="AspNetDataCache">
		<providers>
			<add name="AspNetDataCache" type="System.BusinessObjects.Data.AspNetDataCache, System.BusinessObjects.Framework" UseCache="true" DefaultCacheTimeout="120"/>
		</providers>
	</DataCache>
	
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>

			<property name="hibernate.dialect">NHibernate.Dialect.MySQL5Dialect</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
			<property name="connection.connection_string">Server=overthecode;Database=addressbook_sample;Uid=sample;Pwd=sample;</property>
			<property name="hibernate.current_session_context_class">NHibernate.Context.ManagedWebSessionContext</property>
			<property name="show_sql">true</property>
			<property name="hibernate.generate_statistics">true</property>
			<property name="hibernate.use_sql_comments">true</property>
			<mapping assembly="Sample.BusinessObjects"/>
		</session-factory>
	</hibernate-configuration>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
