<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Add this element -->
	<configSections>
		<section name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="NHibernateSessionProvider" type="System.BusinessObjects.Providers.ProviderSectionHandler, System.BusinessObjects.Framework"/>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

	<!--<NHibernateSessionProvider defaultProvider="NHibernateThreadSlotProvider">
		<providers>
			<add name="NHibernateThreadSlotProvider" type="System.BusinessObjects.Data.NHibernateThreadSlotProvider, System.BusinessObjects.Framework" />
		</providers>
	</NHibernateSessionProvider>

  <DataCache defaultProvider="HashtableDataCache">
    <providers>
      <add name="HashtableDataCache" type="System.BusinessObjects.Data.HashtableDataCache, System.BusinessObjects.Framework" 
           UseCache="true" DefaultCacheTimeout="120"/>
    </providers>
  </DataCache>-->

  <castle>
    <components>
      <component id="HashtableDataCache" service="System.BusinessObjects.Providers.CacheProvider, System.BusinessObjects.Framework"
                 type="System.BusinessObjects.Data.HashtableDataCache, System.BusinessObjects.Framework">
        <parameters>
          <DefaultCacheTimeout>120</DefaultCacheTimeout>
          <UseCache>True</UseCache>
        </parameters>
      </component>

      <component id="NHibernateThreadSlotProvider" service="System.BusinessObjects.Providers.NHibernateSessionProvider, System.BusinessObjects.Framework"
               type="System.BusinessObjects.Data.NHibernateThreadSlotProvider, System.BusinessObjects.Framework"/>
    </components>
  </castle>
</configuration>